/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
        
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
 
 h2{
    color: aqua;
 }   
    
}

.flex{
    display: flex;
}

btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: chartreuse;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: bisque;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0px 40px;
}

 .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
}

 .btn-contato button:hover{
    box-shadow: 0px 0px 8px *rgb(4, 202, 252);
    transform: scale(1.05);
}

#Shiba{
    border-radius: 50%;
    width: 100%;
    max-width: 300px
}

/*estilo topo do site*/
section.topo-do-site{
    padding: 40px 4%;

} 

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
}

.topo-do-site h1{
    color: bisque;
    font-size: 32px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    color: wheat;
    margin: 40px;
}
/* ESTILO DO PORTFÓLIO */
section.portofolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d

}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

